.cart-store {

    margin: 0;
    padding: 20px;

}

#full_name, #email, #phone_number, #address {
    border: 2px solid maroon;
    height: 3rem;
    border-radius: 0;
}
.submitButton {
    border-radius: 0;
    border: 2px solid maroon;
}
.card-items-page {
    min-height: 480px;
    box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
    margin-top: 20px;

}
#logistics  {
    width: 25rem;
    height: 3rem;
}
.orderListDisplay  {
    padding: 20px;
    margin: 0;
} 
.btn-paylater {
    border-radius: 0;
}
.btn-paylater:hover {
    background: black;
    color: white;
    transition: all ease-in-out .5s;
}
.btn-paylater:focus {
    background: black;
    color: white;
    transition: all ease-in-out .5s;
    scale: 1.1;
}
.order-history {
    /* margin-top: 20px; */
    position: absolute;
    left: 85%;
    margin-right: 20px;
    background-color: orangered;
    border: none;
}
.order-history:hover {
    background: black;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: ease-in-out 0.5s all;
}

.confirm-btn {
    background-color: orangered;
    border: none;
}

.confirm-btn:hover {
    background-color: black;
    transition: ease-in-out 0.3s all;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-details-container {
    background-image: url(../../assets/restaurant.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 100px;
}
.user-info-title {
    margin-bottom: -100px;
    color: white;
    font-weight: bolder;
    
}
.form-group label {
    color: white;
    font-weight: bolder;
}

.user-detail-input {
      width: 50%;
      margin: 100px auto;
}
.userName {
    margin-top: 20px;
    margin-left: 50px;
}
.payment-portal {
   position: relative;
   top: 250px;
   text-align: center;
}
.payment-portal p {
    font-size: 20px;
    font-weight: bolder;
}
.payment-btns {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
.payment-btns button {
   width: 10rem;
   height: 3rem;
   text-transform: uppercase;
}
.payment-btns button:nth-child(1){
    background: none;
}
.payment-btns button:nth-child(1):hover{
    background: maroon;
    transition: all ease-in-out .5s;
    color: #ffffff;
    border: none;
}
.payment-btns button:nth-child(1):focus {
    background: maroon;
    transition: all ease-in-out .5s;
    color: #ffffff;
    border: none;
    scale: 1.1;
}

@media (max-width: 568px){
    .user-details-container {
        height: 100%;
    }
    .user-detail-input {
        width: 100%;
    }
    .user-info-title {
        font-size: 20px;
    }
    .order-history {
        left: 60%;
        top: 8px;
    }
  }