.single-menu {
    height: 100%;
    background: black;
    padding: 2rem;
}

.singleproduct-logo{
    position: relative;
    z-index: 200;
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }

.product-img {
    height: 400px;
    width: 500px;
    border-radius: 2rem;
   
}

.product-name {
     text-align: center;
     margin-top: 0.5rem;
     color: white;
     
}

.product-description {
    color: white;
    line-height: 1.8;
    font-family: cursive;
    letter-spacing: 0.15rem;
}

.size-description {
    color: white;
    line-height: 2;
    font-weight: bolder;
    font-family: cursive;
    letter-spacing: 0.15rem;
}

.size {
    color: white;
    font-weight: bolder;
    font-family: cursive;
    letter-spacing: 0.15rem;
}

.sizes {
    color: white;
    font-weight: bolder;
    font-family: cursive;
    letter-spacing: 0.15rem;
}
.price {
    color: white;
    font-weight: bolder;
    font-family: cursive;
    letter-spacing: 0.15rem; 
}

.related-header {
    color: white;
    font-weight: bolder;
    margin: 1rem auto;
    text-align: center;
}

.add-to-cart {
  background: orangered;
  padding: 0.5rem;
  width: 40%;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;
}
.add-to-cart:hover {
    background: black;
}

.p-default {
    border-color: orangered;
}
.single-price {
    color: white;
}

@media (max-width: 568px){
    .product-img {
       width: 450px;
   
    }
  
    button.call-to-action-pizza {
       left: 70%;
    }
  
  }