/* #wrapper {
    display: table;
  } */
#wrapper2 {
    background: orangered !important;
    border: 2px solid orangered;
    width: 100%;
    height: 100%;
    position:fixed;
    padding:0;
    margin:0;
    overflow-y: auto;
}
.logo-2 {
      width: 230px;
      height: 230px;
      top: 10%;
      left: 10%;
      z-index: 10;
      position: absolute;
      border-radius: 50%;
      border: 1px solid orangered;
  
  }
  .menu-call-to-action {
      position: fixed;
      z-index: 500;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 80%;
      left: 87%;
      color: #ffffff;
      background: rgb(226, 220, 220);
      border: none;
      color: #000000;
  
  }

  .menu-call-to-action:hover {
    background: black;
    color: whitesmoke;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: ease-in-out 0.5s all;
}

 .menu {
       color: #132937;
       font-size: 3.5rem;
       line-height: 1.5;
       
  }

  .subtitle {
      font-size: small;
      line-break: auto;
      display: block;
  }
  .menu-deal:hover, .menu:hover {
       cursor: pointer;
       color: #ffffff !important;
       background: #2c2a29;
       padding: 10px 10px;
  }

  .subtitle:hover{
    cursor: pointer;
    color: #ffffff !important;
    background: #2c2a29;
  }

  .menu-call-to-action:hover {
     background: orangered;
     color: whitesmoke;
     cursor: pointer;
    
     -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: ease-in-out 0.5s all;
  }
  
  button.menu-call-to-action:focus, button.menu-call-to-action:active, button.menu-call-to-action:hover{
      outline: none;
  }
.menupage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
  .menu-header {
      font-weight: bold;
      font-size: 4.5rem;
      color: #132937;
      
  }
  
  .menu-items {
        letter-spacing: 4px;
  }

 

  .menu-items  small {
      color: black;
      margin-top: 3px;
  }

  .items {
    margin-left: 37%;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  li {
    counter-increment: my-awesome-counter;
    margin: 0.5rem;
  }

  li::before {
    content: counter(my-awesome-counter) ".";
    width: 2rem;
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    margin-right: 2.5rem;
}
