:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}

.admin-navbar {
	display: flex;
	height: 100px;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 0 30px;

}
.menu-bars {
	font-size: 2rem;
	margin-left: 2rem;
	background: none;
}

.nav-menu {
	/* background: #fff; */
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -100%;
	transition: 850ms;
}
.nav-menu.active {
	left: 0;
	transition: 250ms;
	z-index: 100;
} 
.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
}
.nav-text a {
	text-decoration: none;
	font-size: 18px;
	height: 100%;
	width: 95%;
	display: flex;
	align-items: center;
	padding: 0px 16px;
	border-radius: 4px;
}
.nav-text a:hover {
	background: #bababb;
}
.nav-menu-items {
	width: 100%;
}
.navbar-toggle {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.titles {
	margin-left: 16px;
}
.user-img {
	margin-left: auto;
	order: 2;
}
.user-img a {
	text-decoration: none;
}

.notebell {
	margin-right: 15px;
}

.notification-bell {
	font-size: 40px;
	position: relative;
}

.notification-badge {
	position: relative;
	font-size: 15px;
	top: -10px;
	background: var(--success-color);
	padding: 2px 5px;
	border-radius: 50%;
	left: -14px;
}

 .archives, .notifications, .orders, .sales, .invoice {
	display: flex;
	/* flex-direction: column; */
	height: 100%;
	font-size: 3rem;
	padding: 10px 30px;
	margin: 0 auto;
}

.archives.h3, .notifications.h3, .orders.h3, .sales.h3, .invoice.h3 {
	text-align: center;
}
