.bwf-bg {
    background-image: url('../../assets/restaurant2.jpg');
    min-height: 100% !important;
    border: 30px solid rgba(117, 115, 115, 0.7);
    /* border-bottom: none; */
    opacity: 0.9;
    position: relative;
    z-index: 1;
  
  }
  .bwf-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
  
  .logo-bwf{
    position: relative;
    z-index: 200;
    width: 320px;
    height: 320px;
    margin: 1rem auto;
  }
  
  
  
  .call-to-action-pizza {
      position: fixed;
      z-index: 500;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 80%;
      left: 87%;
      color: #ffffff;
      background: orangered;
      font-weight: 800;
      text-transform: uppercase;
      border: none;
  }
  .call-to-action-pizza:hover {
     background: orangered;
     color: whitesmoke;
     cursor: pointer;
    
     -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: ease-in-out 0.5s all;
  }
  
  button.call-to-action-pizza:focus, button.call-to-action-pizza:active, button.call-to-action-pizza:hover{
      outline: none;
      color: orangered;
      background: #000000;
  }
  .card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 96%;
    margin: 5px auto;
  }
  .text-color {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
    text-shadow:0.05em 0 white,
    0 0.05em white,
    -0.05em 0 white,
    0 -0.05em white,
    -0.05em -0.05em white,
    -0.05em 0.05em white,
    0.05em -0.05em white,
    0.05em 0.05em white;
    z-index: 200;
    text-transform: uppercase;
    letter-spacing: .8rem;
  }
  
  .divider-center-bwf {
    height: 0.40rem; 
    width:30rem; 
    border: 1px solid orangered;
    background: white; 
    margin:0px auto;
    z-index: 200;
  }
  
  .bwf-definations {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding: 0.5rem 0 0.5rem 0;
     width: 40%;
     z-index: 200;
     font-size: 20px;
     text-shadow:0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
     color: white;
     line-height: 1.9;
     font-weight: bolder;
     margin: 0 auto;
  }
  .product-cards {
     padding-bottom: 1rem;
  }
  
  
  .btn-colors-bfw:nth-child(even) {
        position: absolute;
        background: orangered;
        text-transform: uppercase;
        padding: 0.7rem;
        border-bottom-right-radius: 45%;
        border-top-left-radius: 45%;
        border-bottom-left-radius: 45%;
        border-top-right-radius: 45%;
        bottom: 43%;
        left: 60%;
        border: none;
  }
  .btn-colors-bfw:hover, .btn-colors-bfw:focus {
     background: black;
     transition: ease-in-out 0.5s all;
  }
  
  a.btn-colors-bfw {
      color: white;
      text-decoration: none;
  }
  
  @media (max-width: 568px){
    .text-color {
      height: auto
    }
  
    button.call-to-action-pizza {
       left: 70%;
    }
  
  }