.pizza-bg {
    background-image: url('../../assets/restaurant2.jpg');
    min-height: 100% !important;
    border: 30px solid rgba(117, 115, 115, 0.7);
    /* border-bottom: none; */
    opacity: 0.9;
    position: relative;
    z-index: 1;
}
.card-container {
    min-height: 550px;
    box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
}

.button-cart {
    position: absolute;
    background-color: #4CAF50;
    border: 0px;
    color: #FFFFFF;
    width: 130px;
    height: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    bottom: 65%;
    left: 55%;
    padding: 10px; 
    border-radius: 50px;
    outline: 0;
}
.button-cart:hover{
    background-color: black !important;
    transition: ease-in-out 0.3s all;

}
.button-cart:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    outline: 0;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button-cart:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    outline: 0;
    transition: 0s
  }
  .css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}
.css-1wa3eu0-placeholder {
    color: orangered !important;
}
.css-1okebmr-indicatorSeparator {
    background-color: orangered !important;
}
.css-6q0nyr-Svg {
    fill: orangered !important;
    stroke: orangered !important;
}
.pizza-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-pizza {
    position: relative;
    z-index: 200;
    width: 320px;
    height: 320px;
    margin: 1rem auto;
}

.call-to-action-pizza {
    position: fixed;
    z-index: 500;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 80%;
    left: 87%;
    color: #ffffff;
    background: orangered;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}

.call-to-action-pizza:hover {
    background: orangered;
    color: whitesmoke;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: ease-in-out 0.5s all;
}

button.call-to-action-pizza:focus,
button.call-to-action-pizza:active,
button.call-to-action-pizza:hover {
    outline: none;
    color: orangered;
    background: #000000;
}

.card-img,
.card-img-bottom,
.card-img-top {
    flex-shrink: 0;
    width: 96%;
    margin: 5px auto;
}
.shopping-cart {
    position: fixed;
    bottom: 75%;
    left: 87%;
    z-index: 500;
    color: white;

}

.shopping-cart:hover{
    cursor: pointer;
}
.text-color {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
    text-shadow: 0.05em 0 white, 0 0.05em white, -0.05em 0 white, 0 -0.05em white, -0.05em -0.05em white, -0.05em 0.05em white, 0.05em -0.05em white, 0.05em 0.05em white;
    z-index: 200;
    text-transform: uppercase;
    letter-spacing: .8rem;
}

.divider-center {
    height: 0.40rem;
    width: 20rem;
    border: 1px solid orangered;
    background: white;
    margin: 0px auto;
    z-index: 200;
}

.pizza-definations {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.5rem 0 0.5rem 0;
    width: 40%;
    z-index: 200;
    font-size: 20px;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    color: white;
    line-height: 2;
    font-weight: bolder;
    margin: 0 auto;
}

.cart-count {
    font-size: 14px;
    border: 1px solid orangered;
    background: orangered;
    position: absolute;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    margin-left: -10px;
}

.product-cards {
    padding-bottom: 1rem;
}

.btn-colors:nth-child(even) {
    position: absolute;
    background: orangered;
    text-transform: uppercase;
    padding: 0.7rem;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    bottom: 48%;
    left: 60%;
    border: none;
}

.btn-colors:hover,
.btn:focus {
    background: black;
    transition: ease-in-out 0.5s all;
}

a.btn-colors {
    color: white;
    text-decoration: none;
}

@media (max-width: 568px) {
    .text-color {
        height: auto
    }
    button.call-to-action-pizza {
        left: 70%;
    }
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.decisionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btns-checkout {
    display: flex;
    gap: 5px;
}
.Toastify__toast--error, .Toastify__toast--info {
    width: 350px;
}