.pizza-bg {
    background-image: url('../../assets/restaurant2.jpg');
    height: 100% !important;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    border: 30px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-size: 100%;
    /* overflow-y: hidden; */
}

.pizza-bg::before {
    content: '';
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .8;
}

.card-container {
    position: relative;
    min-height: 560px;
    margin-bottom: 10px;
    /* margin-top: -20px; */
    /* box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25); */
    z-index: 200 !important;
}

.product-cards {
    z-index: 200;
    padding-bottom: 1rem;
    position: relative;
}

/* .orderList {
    height: 100%;
    width: 100%;
    
} */


.button-cart {
    position: absolute;
    background-color: #4CAF50;
    border: 0px;
    color: #FFFFFF;
    width: 130px;
    height: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    bottom: 67%;
    left: 55%;
    padding: 10px;
    border-radius: 50px;
    outline: 0;
    z-index: 300;
}

.button-cart:hover {
    background-color: black !important;
    transition: ease-in-out 0.3s all;
}

.button-cart:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    outline: 0;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-cart:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    outline: 0;
    transition: 0s
}

.css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.css-1wa3eu0-placeholder {
    color: orangered !important;
}

.css-1okebmr-indicatorSeparator {
    background-color: orangered !important;
}

.css-6q0nyr-Svg {
    fill: orangered !important;
    stroke: orangered !important;
}

.pizza-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home {
    display: flex;
}

a .logo-pizza {
    position: relative;
    z-index: 100;
    width: 320px;
    height: 320px;
    margin: 10px auto;
    text-align: center;
    /* margin-top: -20px; */
}

.call-to-action-pizza {
    position: fixed;
    z-index: 500;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 80%;
    left: 87%;
    color: #ffffff;
    background: orangered;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}

.call-to-action-pizza:hover {
    background: orangered;
    color: whitesmoke;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: ease-in-out 0.5s all;
}

button.call-to-action-pizza:focus,
button.call-to-action-pizza:active,
button.call-to-action-pizza:hover {
    outline: none;
    color: orangered;
    background: #000000;
}

.card-img,
.card-img-bottom,
.card-img-top {
    flex-shrink: 0;
    width: 96%;
    margin: 5px auto;
}

.shopping-cart {
    position: fixed;
    bottom: 75%;
    left: 87%;
    z-index: 500;
    color: white;
}

.shopping-cart:hover {
    cursor: pointer;
}

.text-color {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    /* text-shadow: 0.05em 0 white, 0 0.05em white, -0.05em 0 white, 0 -0.05em white, -0.05em -0.05em white, -0.05em 0.05em white, 0.05em -0.05em white, 0.05em 0.05em white; */
    z-index: 300;
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding: 10px;
    margin-top: -35px;
}

.divider-center {
    position: relative;
    height: 0.20rem;
    width: 20rem;
    background: white;
    margin: auto;
    /* margin-top: -10px; */
    margin-bottom: 20px;
    z-index: 200;
}

.pizza-definations {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.5rem 0 0.5rem 0;
    width: 40%;
    z-index: 200;
    font-size: 20px;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    color: white;
    line-height: 2;
    font-weight: bolder;
    margin: 0 auto;
}

.btn-colors:nth-child(even) {
    position: absolute;
    background: orangered;
    text-transform: uppercase;
    padding: 0.7rem;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    bottom: 48%;
    left: 60%;
    border: none;
}

.col-lg-4 .card-container.card {
    z-index: 300;
}

.down-btn-menu {
    position: fixed;
    top: 40%;
    left: 4%;
    z-index: 500;
    text-align: center;
    color: #C7B491;
    font-weight: bolder;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.scroll-arrow-1 {
    font-size: 40px;
    margin-top: 10px;
}

.down-btn-menu:hover {
    cursor: pointer;
}

.cart-count {
    font-size: 14px;
    border: 1px solid #4CAF50;
    background: #4CAF50;
    position: absolute;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    margin-left: -13px;
    margin-top: -10px;
}

.btn-colors:hover,
.btn:focus {
    background: black;
    transition: ease-in-out 0.5s all;
}

a.btn-colors {
    color: white;
    text-decoration: none;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.decisionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btns-checkout {
    display: flex;
    gap: 5px;
}
.Toastify__toast-container {
    z-index: 9999;
    width: 600px;
}
/* .Toastify__toast--error,
.Toastify__toast--info {
    width: 500px;
    z-index: 9999;
} */

@media (max-width: 568px) {
    .text-color {
        height: auto
    }
    button.call-to-action-pizza {
        left: 70%;
    }
    .shopping-cart {
        top: 12%;
        left: 75%;
    }
}