.home_content{

  height: 150vh;
  background:  url('../../assets/restaurant.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 30px solid #ffffff; */
}

.logo-home{
  position: absolute;
  z-index: 100;
  width: 280px;
  height: 280px;
  margin-left:  14%;
}


.down-btn {
   position: fixed;
   top: 22rem;
   left: 10rem;
   text-align: center;
   -webkit-animation: move 2s infinite  alternate;
  animation: move 1s infinite  alternate;
}
.row-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.moto {
  position: absolute;
  top: 18rem;
  left: -10%;
  color: #ffffff;
}
.main-page {
    padding-bottom: 5rem;
}
 

.scroll-to-top {
     position: fixed;
     z-index: 1000;
     font-weight: bolder;
     height: 50px;
     width: 50px;
     background: black;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 40px;
     padding: 10px;
     bottom: 18%;
     left: 50%;
     color: white;
     border-radius: 100%;
}

.scroll-to-top svg {
     animation: scrollTop 0.5s alternate ease infinite;
}


@keyframes scrollTop {
  from{
    transform: translateY(2px);
  }
  to{
    transform: translateY(-1px);
  }
}

.cursor-pointer {
   cursor: pointer;
}
  .text-details {
    line-height: 1.9;
  }



  @-webkit-keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  .down-btn:hover {
      cursor: pointer;
  }

 


.scroll-arrow {
  color: #C7B491;
  width: 2rem;
}

.down-btn {
  color:#C7B491;
}
  .call-to-action-home {
      position: fixed;
      z-index: 500;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 80%;
      left: 87%;
      color: #ffffff;
      background: orangered;
      font-weight: 800;
      text-transform: uppercase;
      border: none;
  }
  .call-to-action-home:hover {
     background: #000000;
     color: orangered;
     cursor: pointer;
     -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      transition: ease-in-out 0.5s all;
  }
  
  button.call-to-action:focus, button.call-to-action:active, button.call-to-action:hover{
      outline: none;
      color: orangered;
      background: #000000;
  }
  

.moto  h1 {
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: .2rem;
   border: 1px solid #1B1D1E;
   padding: .5rem;
   background: #1B1D1E;
   font-size: 3rem;
}


.welcome-note {
   width: 60%;
   position: absolute;
   background: #1B1D1E;
  padding: .75rem;
  line-height: 1.7;
  margin-top: -0.50rem;
}

.welcome-note .welcome {
  width: 100%;
  font-size: 1.2rem;
  color:#C7B491;
}

/* Footer styles */
.contact {
  position: absolute;
  margin-top: 15rem;
  margin-bottom: 7.5rem;
}

.explore {
  background: #4B8B6A;
  opacity: 0.8;
  padding: .5rem .75rem;
  text-align: center;
  border-radius: 20px;
}
.contact h2.explore-header {
  font-weight: bolder;
  font-size: 2.1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  color: #EFEFEF;
}
.map-box {
  position: absolute;
 
}
.map-box iframe {
  height: 400px;
  min-height: 460px;
  width: 220px;
  margin-top: 50px;
  margin-left: 250px;
  position: relative; 
  margin-top: 7px;
  border-radius: 20px;
}
.explore-headers{
   font-weight: bolder;
   color: black;
  
}
.text-details-1 {
  color:black;
  text-align: left; 
 
}
.text-details-1 .holder {
  font-weight: bolder;
  line-height: 1.2;
}

div.col-lg-8 {
  height: 100%;
  padding: 0;
}

.contact-us {
  background: #E6C14B;
  opacity: .9;
  padding: .5rem .75rem;
  text-align: center;
  border-radius: 20px;
}

/* .contactor {
    display: inline-block;
} */

.contact .text-details {
  color: white;
  text-align: left;
  
}

.social-links {
   margin-top: 5px;
   display: flex;
   justify-content: left;
}
.social-links a {
  padding: 0 40px 0 0;
  font-size: 1.2rem;
  letter-spacing: 1.2;
  z-index: 200;
}

.facebook {
    color: #4267B2;
}

.twitter {
    color: #00acee;
}

.instagram {
   color: #e13068;
}

.linkedin {
  color:  #2867B2;
}
iframe {
  display: inline;
}

.others {
   width: 90%;
    padding: 20px;
   margin: 0px auto;
   color: white;
}

#other-items {
  position: fixed;
  border-top: 2px dotted white;
   background: #1B1D1E;
   bottom: 0;
}
#scrolldown {
    background: #1B1D1E;
}


/** Mobile responsiveness **/
@media screen and (min-width: 280px) and (max-width: 320px){
 
  button.menu-call-to-action{
     left: 65%;
     height: 80px;
     width: 80px;
  }
 
  .logo-2 {
     width: 100px;
     height: 100px;
     position: relative;
     /* margin-left: 110px; */
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 40px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 .items {
  margin-left: 0;
}

.menu {
  font-size: 1.3rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
}

.menu-content {
  margin-bottom: 20px;
}

}

@media screen and (min-width: 321px) and (max-width: 375px){
 
  button.menu-call-to-action{
     left: 70%;
     height: 90px;
     width: 90px;
  }
 
  .logo-2 {
     width: 120px;
     height: 120px;
     position: relative;
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 53px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 .items {
  margin-left: 0;
}

.menu {
  font-size: 1.4rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
}

.menu-content {
  margin-bottom: 20px;
}
/* .menu-deal {
  line-height: 1;
} */

}



@media screen and (min-width: 376px) and (max-width: 425px){
 
  button.menu-call-to-action{
     left: 70%;
     top: 75%;
     height: 100px;
     width: 100px;
  }
 
  .logo-2 {
     width: 150px;
     height: 150px;
     position: relative;
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 50px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 .items {
  margin-left: 0;
}

.menu {
  font-size: 1.6rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
  font-size: 18px;
}

.menu-content {
  margin-bottom: 20px;
}
/* .menu-deal {
  line-height: 1;
} */

}



@media screen and (min-width: 426px) and (max-width: 768px){
 
  button.menu-call-to-action{
     left: 72%;
     top: 70%;
     height: 110px;
     width: 110px;
  }
 
  .logo-2 {
     width: 180px;
     height: 180px;
     position: relative;
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 68px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 .items {
  margin-left: 0;
}

.menu {
  font-size: 1.7rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
  font-size: 18px;
}

.menu-content {
  margin-bottom: 20px;
}

}



@media screen and (min-width: 769px) and (max-width: 1024px){
 
  button.menu-call-to-action{
     left: 73%;
     top: 70%;
     height: 120px;
     width: 120px;
  }
 
  .logo-2 {
     width: 220px;
     height: 220px;
     position: relative;
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 90px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 /* .items {
  margin-left: 0;
} */

.menu {
  font-size: 2.5rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
  font-size: 18px;
}

.menu-content {
  margin-bottom: 20px;
}

}


@media screen and (min-width: 1025px) and (max-width: 2500px){
 
  button.menu-call-to-action{
     left: 85%;
     top: 70%;
     height: 130px;
     width: 130px;
  }
 
  .logo-2 {
     width: 250px;
     height: 250px;
     position: relative;
     margin-top: 20px;
  }
  h1.menu-header {
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: 10px;
 }
 .menupage {
    margin-top: -3px;
 }
 /* .items {
  margin-left: 0;
} */

.menu {
  font-size: 3rem;
  font-weight: bolder;
}
.subtitle {
  font-weight: normal !important;
  font-size: 18px;
}

.menu-content {
  margin-bottom: 20px;
}

}
