  .row-items {

      display: flex;
      flex-wrap: wrap;
      margin-right: 0px;
      margin-left: 0px;
      background: #1B1D1E;
  }
  .content {
    background: #1B1D1E;
  }

  .text-details {
    line-height: 1.9;
  }
  .logo-home{
      position: absolute;
      z-index: 100;
      width: 280px;
      height: 280px;
      margin-left:  14%;
  }

  .down-btn {
    position: fixed;
     top: 53%;
     left: 7%;
     text-align: center;
 
  }


  .scrolldown.col-lg-4 {
 
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 15px solid rgb(214, 208, 208);
}
.row-items {
   margin: 0;
   padding: 0;
}
.scroll-arrow {
  color: #C7B491;
  width: 2rem;
}

.down-btn {
  color:#C7B491;
}
  .call-to-action {
      position: fixed;
      z-index: 500;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 80%;
      left: 87%;
      color: #ffffff;
      background: orangered;
      font-weight: 800;
      text-transform: uppercase;
      border: none;
  }
  .call-to-action:hover {
     background: orangered;
     color: whitesmoke;
     cursor: pointer;
    
     -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: ease-in-out 0.5s all;
  }
  
  button.call-to-action:focus, button.call-to-action:active, button.call-to-action:hover{
      outline: none;
      color: orangered;
      background: #000000;
  }
  
.moto {
  position: absolute;
  top: 20%;
  left: -10%;
  color: #ffffff;
}
.moto  h1 {
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: .2rem;
   border: 1px solid #1B1D1E;
   padding: .5rem;
   background: #1B1D1E;
   font-size: 3rem;
}


.welcome-note {
   width: 60%;
   position: absolute;
   background: #1B1D1E;
  padding: .75rem;
  line-height: 1.7;
  margin-top: -0.50rem;
}

.welcome-note .welcome {
  width: 100%;
  font-size: 1.2rem;
  color:#C7B491;
}

.contact {
  position: absolute;
  margin-top: 20rem;
}

.explore {
  background: #4B8B6A;
  opacity: 0.8;
  padding: .5rem .75rem;
  text-align: center;
  border-radius: 20px;
}
.contact h2.explore-header {
  font-weight: bolder;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #EFEFEF;
}
.map-box {
  position: absolute;
}
.map-box iframe {
  height: 320px;
  width: 220px;
  margin-left: 250px;
  position: relative; 
  margin-top: 7px;
  border-radius: 20px;
}
.explore-headers{
   font-weight: bolder;
   color: black;
  
}
.text-details-1 {
  color:black;
  text-align: left; 
 
}
.text-details-1 .holder {
  font-weight: bolder;
  line-height: 1.2;
}

div.col-lg-8 {
  height: 100%;
  padding: 0;
}
.bgImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.contact-us {
  background: #E6C14B;
  opacity: .9;
  padding: .5rem .75rem;
  text-align: center;
  border-radius: 20px;
}

/* .contactor {
    display: inline-block;
} */

.contact .text-details {
  color: white;
  text-align: left;
  
}

.social-links {
   margin-top: 5px;
   display: flex;
   justify-content: left;
}
.social-links a {
  padding: 0 40px 0 0;
  font-size: 1.2rem;
  letter-spacing: 1.2;
  z-index: 200;
}

.facebook {
    color: #4267B2;
}

.twitter {
    color: #00acee;
}

.instagram {
   color: #e13068;
}

.linkedin {
  color:  #2867B2;
}
iframe {
  display: inline;
}

.others {
   width: 90%;
    padding: 20px;
   margin: 0px auto;
   color: white;
}

#other-items {
  border-top: 2px dotted white;
   background: #1B1D1E;
}

@media (max-width: 568px){
 
  button.call-to-action {
     left: 70%;
  }
  .scrolldown {
      display: none;
  }
  .logo-home {
     width: 200px;
     height: 200px;
     margin: 0px;
  }
  .bgImg {
    width: 100%;
    height:100vh;
  }
  .moto {
    margin-top: 80px;
    width: 100%;
    left: 0;
  }
  .h1-heading {
     display: flex;
     justify-content: center;
  }
  .moto h1 {
     font-weight: bold;
     font-size: 22px;
     width: 90%;
     text-align: center;
  }
  .logo-image {
      display: flex;
      justify-content: center;
   
  }
  .welcome-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  .welcome-note {
     width: 80%;
  }
  #other-items {
      position: relative;
     margin-top: 950px;
  }
  .explore-contact {
    display: flex;
    justify-content: center;
  }
  .explore {
    width: 80%;
    margin: 0px auto;
  }
  .contactor {
    margin-top: 30px;
    position: relative;
  }
 .contact-us.card {
   display: flex;
   width: 74%;
   margin: 0px auto;
   justify-content: center;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;

 }
 .colored {
    width: 100%;
    position: relative;
 
 }
 .map-box {
  display: flex;
  align-self: center;
  width: 100%;
  top: 360px;
  margin: auto;
  justify-content: center;
  padding: 0;

 }

 .map-box iframe {
   position: relative;
   width: 100%;
   margin: auto;
   top: -15px;
   padding: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius:  20px;
   
 }

}
