.orderedList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}

.orderList button {
    background: white;
    border: 2px solid maroon;
}

.orderList button:hover {
    background: maroon;
    color: white;
    transition: all ease-in-out .5s;
}

.orderList button:focus {
    background: maroon;
    color: white;
    transition: all ease-in-out .5s;
    scale: 1.1;
}

.orderlist-header {
    text-align: center;
    margin-top: 150px;
}

table {
    border: 1px solid #1a1a1b;
    padding: 0px;
    background-color: #f6f6f6;
    margin: 300px auto 75px auto;
}

th {
    border: 1px solid#1a1a1b;
    padding: 3px;
    text-align: center;
    font-size: 13px;
}

td {
    border: 1px solid#1a1a1b;
    padding: 3px;
    text-align: center;
    font-size: 13px;
}

tfoot td {
    font-weight: bolder;
}

@media screen and (min-width:320px) {
    table {
        padding: 0px;
    }
    th {
        padding: 3px;
        font-size: 15.5px;
    }
    td {
        font-size: 15.5px;
    }
}

@media screen and (min-width:380px) {
    table {
        padding: 2px;
        border: 2px solid#1a1a1b;
    }
    th {
        padding: 5px;
        font-size: 16px;
        border: 2px solid#1a1a1b;
    }
    td {
        font-size: 16px;
        padding: 5px;
        border: 2px solid#1a1a1b;
    }
}

@media screen and (min-width:640px) {
    th,
    td {
        font-size: 18px;
    }
}

@media screen and (min-width:1000px) {
    th,
    td {
        font-size: 20px;
    }
}