

#bg1 {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    overflow-y: auto; 
  }
  #bg1 .bg-img1 {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 100%;
    min-height: 50%;
  }
  
    .color-overlay-pizza {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(247, 246, 242);
      opacity: .7;
      position: absolute;
    }
  
  .center-items-pizza {
      display: flex;
      justify-content: center;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      line-height: 2rem;
  
  } 
  .logo-1 {
      width: 250px;
      height: 250px;
      margin-top: 2rem;
      z-index: 10;
      position: absolute;
  
  }
  p.ptext-pizza {
    z-index: 10;
    color: #0e0d0d;
    position: absolute;
    width: 65%;
    text-align: center;
    margin-top: 27rem;
    padding-bottom: 7rem;
    line-height: 1.7;
    letter-spacing: 0.5rem;
  }


  h1.htext-pizza {
    z-index: 10;
    color: #000000;
    position: absolute;
    margin-top: 20rem;
    text-align: center;
    font-size: bolder;
    letter-spacing: .5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .divider {
    z-index: 10;
    width: 18%;
    height: 2px;
    background: #000000;
    margin-top: 24rem;
    position: absolute;
  }
  
  .call-to-action-pizza {
      position: fixed;
      z-index: 1;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      top: 80%;
      left: 87%;
      color: #ffffff;
      background: orangered;
      border: none;
      z-index: 10px;
  }
  .call-to-action-pizza:hover {
     background: orangered;
     color: whitesmoke;
     cursor: pointer;
    
     -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: ease-in-out 0.5s all;
  }
  
  button.call-to-action-pizza:focus, button.call-to-action-pizza:active, button.call-to-action-pizza:hover{
      outline: none;
  }
  
  
  .card-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    position: absolute;
    gap: 1rem;
    z-index: 10;
    height: auto;
    width: 60%;
    top: 60%;
    margin-bottom: 10rem;
  }

  
.card {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  height: 100%;
  padding-bottom: 5rem;
  box-shadow: 2px 2px 2px 2px #888888;
}



.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.responsive {
  margin-top: 0.25rem;
  width: 98%;
  height: 65%;
  margin-left: 0.25rem;
}

.details h3 {
  margin-top: 17rem;
  margin-left: -23rem;
  margin-bottom: 1rem;
}
/* .details {
   width: 98%;
} */

.details span > strong {
  margin-top: 14rem;
  margin-left: -23rem;
  font-weight: bolder;


}
.details p {
  margin-left: -23rem;
  margin-top: 0.5rem;

}

.addtocart {
   bottom: 20%;
   width: 7rem;
   padding: 1rem 0.75rem;
   height: 4rem;
   right: 5%;
   bottom: 47%;
   position: absolute;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  color: #ffffff;
}

button.addtocart:nth-child(even) {
   background:#000000;
   border: none;
   opacity: .9;
   outline: none;
}
button.addtocart:hover {
  background: orangered;
  transition: ease-in-out 0.3s;
}