/* @import "~react-image-gallery/styles/css/image-gallery.css"; */
html, body {
    height: 100%;
    /* overflow-x: hidden; */
    margin: 0px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}


