.notify {

	display: grid;
	width: 100%;
	height: 100%;
	max-height: 50%;
	max-width: 50%;
	place-items: center;
	z-index: 500;
	position: fixed;
	padding: 20px;
	top: calc(100% - 75%);
	right: calc(100% - 75%);
	animation: blink-animation 2s steps(5, start) infinite;
	-webkit-animation: blink-animation 2s steps(5, start) infinite;

}
@keyframes blink-animation {
	to {
		-ms-transform: scale(1.5); /* IE 9 */
		-webkit-transform: scale(1.5); /* Safari 3-8 */
		transform: scale(1.5); 
	}
  }
  @-webkit-keyframes blink-animation {
	to {
	   -ms-transform: scale(1.5); /* IE 9 */
	   -webkit-transform: scale(1.5); /* Safari 3-8 */
	   transform: scale(1.5); 
	}
  }

.box-items {
	/* position: absolute; */
	 display: flex;
	 align-items: center;
	justify-content: center;
	 height: 100%;
	 width: 100%;


}

.hide-notification {
    display: none;
}

.notifications-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.dashboard-container {
    width: 100%;
    min-height: 100vh;
}
.dashboard-container h3 {
    margin-top: 5px;
    text-align: center;
}
.table {
    margin-top: 0;
    border-collapse: collapse; 
    width: 100%;
}

.table tr > th {
    font-size: 15px;
}
.table tr > td {
    font-size: 14px;
}


/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		.dashboard-table, .table-heading, .dashboard-tbody, .dashboard-th, .dashboard-td, .dashboard-order {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.table-heading .heading-row {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    .heading-row {
      margin: 0 0 1rem 0;
  
    }
      
    /* tr:nth-child(odd) {
      background: #ccc;
    } */
    
		.dashboard-td {
			/* Behave  like a "row" */
			border: none;
			/* border-bottom: 1px solid #eee; */
			position: relative;
			padding-left: 50%;
		}

		.dashboard-td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
            padding: 5px 10px 5px 0px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		.dashboard-td:nth-of-type(1):before { content: "Ref No:"; margin-top: 10px;}
		.dashboard-td:nth-of-type(2):before { content: "Customer"; margin-top: 10px;}
		.dashboard-td:nth-of-type(3):before { content: "Amount"; margin-top: 10px;}
		.dashboard-td:nth-of-type(4):before { content: "Destination"; margin-top: 10px;}
		.dashboard-td:nth-of-type(5):before { content: "Logistics"; margin-top: 10px;}
		.dashboard-td:nth-of-type(6):before { content: "Total"; margin-top: 10px;}
		.dashboard-td:nth-of-type(7):before { content: "Date ordered"; margin-top: 10px;}
		.dashboard-td:nth-of-type(8):before { content: "Status"; margin-top: 10px;}
		.dashboard-td:nth-of-type(9):before { content: " "; margin-top: 10px;}
	}